
/* PRUEBA DE GALERRIA POR SECCIONES 1,2,3,4,5,6, */


.main .menu-platos {
    padding: 5.625rem;
  }
  .main .menu-platos .container .titulo-seccion h2 {
    text-align: center;
  }
  .main .menu-platos .container .contenedor-menu {
    margin-top: 2.5rem;
  }
  .main .menu-platos .container .contenedor-menu .encabezado {
    font-weight: 600;
    font-family: 'Poppins', serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .main .menu-platos .container .contenedor-menu .encabezado li a {
    font-size: 0.75rem;
    padding: 0 1.4375rem 1.125rem 1.4375rem;
    display: block;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-bottom: 2px solid transparent;
  }
  .main .menu-platos .container .contenedor-menu .encabezado li a:hover {
    color: #b4975a;
  }
  .main .menu-platos .container .contenedor-menu .encabezado li.active {
    color: #b4975a;
    border-bottom: 2px solid #b4975a;
  }
  .main .menu-platos .container .contenido {
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    border: 6px double #eaeaea;
    padding: 0 2.25rem;
  }
  .main .menu-platos .container .contenido > div {
    display: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  .main .menu-platos .container .contenido .active {
    display: block;
  }
  .main .menu-platos .container .contenido .item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.25rem 0;
    border-bottom: 1px solid #eaeaea;
  }
  .main .menu-platos .container .contenido .item .col.izq {
    width: 70%;
  }
  .main .menu-platos .container .contenido .item .col.izq h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.525rem;
  }
  .main .menu-platos .container .contenido .item .col.izq p {
    font-size: 1rem;
    color: #777;
  }
  .main .menu-platos .container .contenido .item .col.der {
    width: 30%;
    text-align: center;
    font-size: 2.1875rem;
  }